@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --main-bg-color: #161616;
    --section-bg-color: #22222286;
    --main-txt-color: rgb(212, 212, 212);
    --section-txt-color: #fff;
    --main-padding: 1rem;
    --main-margin: 1rem;
}
body {
    margin: 0;
    box-sizing: border-box;
    background: url('http://eskipaper.com/images/free-background-7.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: var(--main-txt-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;  
    letter-spacing: 7px;
    margin: 0; 
}

#wrapper {
    max-width: 80%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-areas: 'head head head head'
                         'side main main main'
                         'side main main main'
                         'footer footer footer footer';
    grid-gap: 10px;
}

.section {
    padding: var(--main-padding);
    min-height: 284px;
}

.head {
    grid-area: head;
    background: url('https://kraina.org.pl/storage/2020/04/widok-z-góry-Poniatowa-1-300x214.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.8rem;
    text-align: center;
    color: var(--main-txt-color);
    text-align: center;
    margin: 0;
}

.side,.main,.footer {
    background: var(--section-bg-color);
    box-shadow: 1px 1px 3px #fff;
    color: var(--section-txt-color);
}

.side {
    grid-area: side;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}
